/*? ==========general========== */

:root {
  --main-color-text-background: #2e2f42;
  --background-and-text-footer: #f4f4fd;
  --prymary-text-color: #434455;
  --background-and-hero-text: #ffffff;
  --button-logo-color: #4d5ae5;
  --button-touch-color: #404bbf;
  --icon-hover-color: #31d0aa;
  --customer-logo-color: #8e8f99;
  --trancition-hover: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color, #434455);
  background-color: var(--background-and-hero-text, #ffffff);
  margin: 0;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.container {   
  padding-left: 16px;
  padding-right: 16px; 
  margin-left: auto;
  margin-right: auto;
  /* outline: 2px solid tomato; */
}

/*?==========header========= */

.header {
  border-bottom: 1px solid #e7e9fc;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-navigation {
  width: 115px;
  /* margin: 0 auto; */
  /* display: flex;
  align-items: center; */
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: calc(21 / 18);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--button-logo-color, #4d5ae5);
}
.logo-studio {
  color: var(--main-color-text-background, #2e2f42);
}
.header-list {
  display: none;
  /* display: flex; */
  margin-left: 76px;
}
.header-list .header-item + .header-item {
  margin-left: 40px;
}

.header-link {
  position: relative;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-color-text-background, #2e2f42);
  transition: color var(--trancition-hover);
}
.active-page {
  color: var(--button-touch-color, #404bbf);
}
.header-item > .active-page::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  display: block;
  border-radius: 2px;
  background-color: currentColor;
  left: 0;
  bottom: 0;
  opacity: 1;
}
.header-address {
  font-style: normal;
  margin-left: auto;
}
.header-address-list {
  display: none;
  /* display: flex; */
}
.header-address-list .header-address-item + .header-address-item {
  margin-left: 40px;
}

.header-contact {
  padding: 24px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color, #434455);
  transition: color var(--trancition-hover);
}
.header-contact:is(:hover, :focus) {
  color: var(--button-touch-color, #404bbf);
} 

/*? ===========hero=========== */

.hero {
  text-align: center;
  padding: 112px 54px;
  margin-left: auto;
  margin-right: auto; 
  background-image: linear-gradient(
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)
  ),
  url(../images/main-background-min.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--main-color-text-background, #2e2f42);
}
.hero-container {
  padding: 0;
}
.hero-title {
    font-size: 36px;
    line-height: calc(40 / 36);
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
    color: var(--background-and-hero-text, #ffffff);
    text-align: center;
  }
.hero-btn {
  display: flex;
  align-items: center;
  border-radius: 4px;
  border: none;
  padding: 16px 32px;
  margin: 0 auto;

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--background-and-hero-text, #ffffff);
  cursor: pointer;
  background: var(--button-logo-color, #4d5ae5);
  transition: background-color var(--trancition-hover);
}
.hero-btn:is(:hover, :focus) {
  background-color: var(--button-touch-color, #404bbf);
}

/*? ===========advantages=========== */

.advantages {
  padding-top: 96px;
  padding-bottom: 96px; 
}
.advantages-item {
  margin-bottom: 72px;  
}
.advantages-div {  
  display: none;  
}
.advantages-title-down {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(40 / 36);
  text-align: center;    
  letter-spacing: 0.02em;
  color: var(--main-color-text-background, #2e2f42);
}
.advantages-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*? ===========doing=========== */

.doing {
  display: none;
  padding-bottom: 120px;
}
.doing-title {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-color-text-background, #2e2f42);
}
.doing-list {
  display: flex;
}
.doing-item {
  width: calc((100% - 24px * 2 / 3));
}
.doing-list .doing-item + .doing-item {
  margin-left: 24px;
}

/*? ===========our team=========== */

.team {
  padding-top: 96px;
  padding-bottom: 96px;
  /* padding-top: 120px;
  padding-bottom: 120px; */
  background: var(--background-and-text-footer, #F4F4FD);
}
.team-title {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-color-text-background, #2e2f42);
}
.team-item {
  margin-bottom: 72px;  
  background: var(--background-and-hero-text, #ffffff);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.team-title-text {
  padding: 32px 0;
}
.team-title-down {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--main-color-text-background, #2e2f42);
}
.team-text {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.team-soc-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.team-soc-item {
  width: 40px;
  height: 40px;
}
.team-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #f4f4fd;
  transition: background-color var(--trancition-hover);
}
.team-soc-svg {
  fill: currentColor;
}
.team-soc-link:is(:hover, :focus) {
  background-color: #404bbf;
}

/*? Section 5 customers */

.customers-div {
  padding-top: 96px;
  padding-bottom: 96px;  
}
.customers-title {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: calc(40 / 36);
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-color-text-background, #2e2f42);
}
.customer-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 72px;
  column-gap: 16px;  
}
.customer-item {
  flex-basis: calc((100% - 16px) / 2);
  height: 88px;
  display: flex;
}
.customer-link {
  width: 100%;
  height: 100%;
  cursor: pointer;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #8e8f99;
  transition: border-color var(--trancition-hover),
    color var(--trancition-hover);
}
.customer-link:is(:hover, :focus) {
  border-color: #404bbf;
  color: #404bbf;
}
.customer-svg {
  fill: currentColor;
  transition: fill var(--trancition-hover);
}
.customer-svg:is(:hover, :focus) {
  fill: #404bbf;
}

/*? ===========footer=========== */

.footer {
  padding-top: 96px;
  padding-bottom: 96px;
  /* max-width: 1440px; */
  /* padding-top: 100px;
  padding-bottom: 100px; */
  background: var(--main-color-text-background, #2e2f42);
  margin-left: auto;
  margin-right: auto;
}
.footer-container-div {
  width: 268px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
  text-align: center;
  /* width: 264px; */
}
.logo-studio-down {
  color: var(--background-and-text-footer, #f4f4fd);
}
.footer-text {
  text-align: left;
  margin-top: 16px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--background-and-text-footer, #f4f4fd);
}
.footer-div {
  /* display: flex; */
}
.second-div { 
  margin-bottom: 72px;
  /* margin-left: 120px; */
}
.footer-text-second {
  text-align: center;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--background-and-hero-text, #ffffff);
}
.footer-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.footer-item {
  width: 40px;
  height: 40px;
}
.footer-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--button-logo-color), #4d5ae5;
  transition: background-color var(--trancition-hover);
}
.footer-svg {
  fill: currentColor;
}
.footer-link:is(:hover, :focus) {
  background-color: var(--icon-hover-color);
}
.footer-form-subscribe { 
  margin-left: auto;
}
.footer-text-subscribe {  
  text-align: center;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--background-and-hero-text, #ffffff);
}
.subscribe-label {
  /* display: flex;
  gap: 24px;   */
}
.footer-email-subscribe {
  width: 396px;
  margin-bottom: 16px;
  /* width: 264px; */
  height: 40px;
  border: 1px solid #FFFFFF;
  border-radius: 4px;
  padding-left: 16px;
  font-size: 16px;
  line-height: calc(24 / 16); 
  color: #FFFFFF;
  background-color: transparent;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}
.footer-email-subscribe::placeholder {
  font-size: 12px;
  line-height: calc(24 / 12);
  letter-spacing: 0.04em;
  color: #FFFFFF;
}
.subscribe-button {
  display: block;
  /* display: flex;
  align-items: center; */
  text-align: center;
  border-radius: 4px;
  border: none;
  padding: 8px 24px;
  margin: 0 auto;
  cursor: pointer;
  gap: 24px;

  font-size: 16px;
  line-height:calc(24 / 16);
  letter-spacing: 0.04em;
  color: var(--background-and-hero-text, #ffffff);
  background: var(--button-logo-color, #4d5ae5);
  transition: background-color var(--trancition-hover);
}
.subscribe-button:is(:hover, :focus) {
  background-color: var(--button-touch-color, #404bbf);
}
.icon-sending {
  fill: var(--background-and-hero-text, #ffffff);
}

/*? ===========bottoms=========== */

/* .filters {
  padding-top: 96px;
  padding-bottom: 120px;
}
.filters-list {
  display: flex;
  justify-content: center;
}

.filters-list .filters-item + .filters-item {
  margin-left: 24px;
}
.filters-list button {
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  padding: 12px 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--button-logo-color, #4d5ae5);
  cursor: pointer;
  background: var(--background-and-text-footer, #f4f4fd);
}
.filters-button {
  transition: color var(--trancition-hover),
    background-color var(--trancition-hover), box-shadow var(--trancition-hover),
    border-color var(--trancition-hover);
}
.filters-button:is(:hover, :focus) {
  color: var(--background-and-hero-text, #ffffff);
  background-color: var(--button-touch-color, #404bbf);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-color: #404bbf;
} */

/*? ===========section row=========== */

/* .row-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 72px;
}
.row-item {
  width: calc((100% - 48px) / 3);
  margin-left: 24px;
  margin-bottom: 48px;
}
.row-item > .link {
  transition: box-shadow var(--trancition-hover);
}
.row-item > .link:hover {
  display: block;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.row-item:nth-child(3n + 1) {
  margin-left: 0;
}
.row-item:not(:nth-child(-n + 6)) {
  margin-bottom: 0;
}
.row-overlay {
  position: relative;
  overflow: hidden;
}
.row-text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 40px;
  padding-left: 32px;
  padding-right: 32px;
  background-color: var(--button-logo-color);
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  color: var(--background-and-text-footer);
  transform: translateY(100%);
  transition: transform var(--trancition-hover);
}
.row-item:hover .row-text-overlay {
  transform: translateY(0);
}
.row-div {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}
.row-title-down {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-color-text-background, #2e2f42);
}
.row-text {
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  color: var(--prymary-text-color, #434455);
} */

/* ?modal window */

/* .backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 600ms cubic-bezier(0.51, 0, 0.54, 0.33),
  visibility 600ms cubic-bezier(0.51, 0, 0.54, 0.33);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateY(0deg);
  transition: transform 600ms cubic-bezier(0.51, 0, 0.54, 0.33);
  width: 408px;
  min-height: 576px;
  background-color: #fcfcfc;
  border-radius: 4px; 
  padding: 72px 24px 24px;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) rotateY(180deg);
}
.modal-close {
  position: absolute;
  cursor: pointer;
  right: 24px;
  top: 24px;
  width: 24px;
  height: 24px;  
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;  
  fill: var(--main-color-text-background, #2e2f42);
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color var(--trancition-hover), fill var(--trancition-hover);
}
.modal-close:is(:hover, :focus) {
  background-color: var(--button-touch-color, #404BBF);  
  fill: #ffffff;
}
.modal-text {  
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  margin-bottom: 16px;
}
.label {
  display: block;
  margin-bottom: 8px;
}
.modal-header-text {
  display: block;  
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.04em;
  color: var(--customer-logo-color, #8E8F99);
  margin-bottom: 4px;  
}
.modal-icon {
  display: block;
  position: relative;
}

.input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px;
 
  font-size: 16px;
  line-height: calc(24 / 16);  
  color: var(--primary-text-color, #434455);
  transition: border-color var(--trancition-hover);

}
.input:focus {
  outline: none;
  border-color: var(--button-logo-color, #4D5AE5);  
}
.input:focus + .modal-svg {
  fill: var(--button-logo-color, #4D5AE5);
}
.input::placeholder {  
  font-size: 12px;
  line-height: calc(14 / 12);
  color: rgba(46, 47, 66, 0.4);
}
.modal-svg {
  position: absolute;
  display: block;
  top: 50%;
  left: 16px;
  transform: translate(0, -50%);
  fill: var(--main-color-text-background, #2E2F42);
  transition: fill var(--trancition-hover);
}
.modal-comment {
  display: block;
  margin-bottom: 16px;
}
.modal-comment-information { 
  height: 120px;  
  padding: 8px 16px;  
  resize: none;
}
.modal-policy-assent {
  position: absolute;   
  opacity: 0;  
  bottom: 76px;    
}
.modal-policy {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.04em;
  color: #8E8F99;
  cursor: pointer;
  margin-bottom: 24px;
}
.modal-policy::before {
  content:"";
  display: block;  
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 8px;
}
.modal-policy-assent:checked + .modal-policy::before {
  background: var(--button-touch-color, #404BBF);
  border: 1px solid var(--button-touch-color, #404BBF);
  background-image: url(../images/checkbox.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.modal-policy-assent:focus + .modal-policy::before {  
  border: 1px solid var(--button-touch-color, #404BBF);
  
}
.privacy-policy {
  color: var(--button-logo-color, #4D5AE5);
}
.modal-button {
  display: block;
  border-radius: 4px;
  border: none;
  padding: 16px 32px;
  margin: 0 auto;
  width: 169px;
  
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--background-and-hero-text, #ffffff);
  cursor: pointer;
  background: var(--button-logo-color, #4d5ae5);
  transition: background-color var(--trancition-hover);
}
  .modal-button:focus {
  background-color: var(--button-touch-color, #404bbf);
} */